.navbar-default {
    border-color: transparent;
    background-color: #283645;
}

.navbar-default .navbar-brand {
    color:#FFFFFF;
    width: 77%;
    top:0px;
    white-space: nowrap;
    z-index: 10;
    font-weight:600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 2em;
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #0BA973;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: rgb(102, 135, 169);
    background-color: rgb(102, 135, 169);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgb(102, 135, 169);
}

.navbar-default .nav li a {
    /*text-transform: uppercase;*/
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    font-size: 1.2em;
    /*letter-spacing: 1px;*/
    /*color: #fff;*/
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    /*background-color: rgb(102, 135, 169);*/
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: rgb(102, 135, 169);
    background-color: rgb(102, 135, 169);
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #283645;
    background-color: rgb(102, 135, 169);
}

@media(min-width:992px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #283645;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 2em;
    }
}