/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

nav {
  width: 500px;
  margin-left: 600px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#links li {
  font-family: 'Pathway Gothic One', sans-serif;
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
}