/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

body {
  background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #2c3e50;
}

p, li{
  font-family: 'Playfair Display', serif;
  line-height: 1.7;
  color: #2c3e50;
}

nav {
  margin-left: 8%;
  width: 100%;
  background-color: #ecf0f1;
  z-index: 1;
}

#links {
  width: 700px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  font-size: 1.5em;
  opacity: 0;
  position: fixed;
  background-color: #ecf0f1;
  z-index: 1;
}

#links li {
  font-family: 'Pathway Gothic One', sans-serif;
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
}

#links li:first-child {
  margin-left: 55px;
}

#links li:hover {
  color: #009900;
}

#home h1 {
  font-size: 3em;
}
#main_copy {
  float: left;
  margin-left: 17%;
  margin-top: 9%;
}

#main_photo {
  height: 400px;
  width: 400px;
  /*position: absolute;*/
  float: right;
  margin-top: 6%;
  margin-right: 17%;
}

#main_photo img {
  height: 400px;
  width: 400px;
}

.page {
  height: 100%;
  width: 20%;
  float: left;
  margin-top: 60px;
}

#about {

}

#projects {
  margin-top: 80px;
}

#projects img {
  height: 200px;
  width: 350px;
}

.description {
  height: 204px;
}

.description a {
  display: inline;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: #2c3e50;
}

.description a:hover {
  color: #009900;
}

#experience {
  line-height: 0.8;
}

#experience h2 {
  color: #009900;
}

span {
  text-decoration: underline
}

#contact a {
  text-decoration: none;
  color: #2c3e50;
}

#contact a:hover {
  color: #009900;
}

#contact i {
  margin: 0 auto;
}

@media (max-width: 1332px){
  #links {
    position: relative;
  }

  #nav_bar {
    background-color: white;
    z-index: 1;
  }

  #main_photo {
    margin: 0 auto;
    height: 237px;
    width: 700px;
  }
}

@media (max-width: 1100px){
  #links {
    position: none;
    margin: 0 auto;
    width: 500px;
  }

  #links li {
    margin-left: 5px;
    margin-right: 5px;
  }

  #links li:first-child {
    margin-left: 10px;
  }

  nav {
    margin-top: -60px;
    margin-bottom: 20px;
    height: 45px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
  }

  #main_photo {
    margin: 0 auto;
    height: 237px;
    width: 500px;
  }
  
  .page {
    float: none;
  }

  #experience {
    line-height: initial;
  }

  #projects div {
    height: 210px;
  }

  #projects img {
    margin-top: 30px;
  }

  .description {
    height: 210px;
    margin-bottom: 100px;
  }
}

